.home-container {
    padding-top: 70px; /* Adjust the value based on your navbar height */
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust based on how many columns you want */
    gap: 10px;
  }
  
  .image-grid img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  